@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: normal;
  background: #040c18;
  color: rgba(255, 255, 255, 0.9529411765);
}

:root {
  --swiper-theme-color: #e87bdf !important;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 2px 8px;
}
.container-grid {
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;
  gap: 40px;
  place-content: center;
  place-items: start;
}
.container-grid .user .info {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.container-grid .user .info .card {
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-width: 2px;
  border-style: double;
  border-color: #575757;
  border-radius: 100%;
}
.container-grid .user .info .card img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}
.container-grid .user .info .name {
  font-size: 20px;
}
.container-grid .user .info .pseudo {
  font-size: 14px;
  color: #ccc;
  display: block;
}
.container-grid .user .info .tel, .container-grid .user .info .default-item, .container-grid .user .info .email {
  display: block;
  margin-top: 5px;
  font-size: 15px;
  text-decoration: none;
}
.container-grid .feeds {
  height: 100%;
  width: 100%;
}
.container-grid .feeds .post {
  padding: 12px 4px;
  border-top: 1px solid #414040;
  border-bottom: 1px solid #414040;
  display: flex;
  align-items: start;
  gap: 5px;
  overflow: hidden;
  padding: 6px;
}
.container-grid .feeds .post .poster img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-grid .feeds .post .content {
  width: 100%;
}
.container-grid .feeds .post .content .head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}
.container-grid .feeds .post .content .head .poster-info {
  display: flex;
  gap: 6px;
}
.container-grid .feeds .post .content .head .poster-info .poster-pseudo {
  color: #575757;
}
.container-grid .feeds .post .content .head .posted-date {
  color: #575757;
}
.container-grid .feeds .post .content .post-article {
  margin-top: 5px;
  font-size: 14px;
  max-height: 50px;
  overflow: hidden;
}
.container-grid .feeds .post .content .action {
  padding-top: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-grid .feeds .post .content .action i svg {
  width: 20px;
}
.container-grid .feeds .post .content .action .like svg {
  stroke: rgb(235, 60, 21);
}
.container-grid .feeds .post .content .action .rt svg {
  stroke: rgb(21, 235, 46);
}
.container-grid .feeds .post .content .action .comment svg {
  stroke: rgb(21, 85, 235);
}
.container-grid .feeds .post .content .action .save svg {
  stroke: #fff;
}
header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=main.css.map */